.form-login {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}
.form-login h2 ,p{

color: rgb(0, 125, 148);
}
.form-login label {
    display: block;
    font-weight: bold;
    color: rgb(36, 36, 36);
    margin-bottom: 10px;
}

.form-login input[type="text"],
.form-login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-login button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #188aac;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-login button[type="submit"]:hover {
    background-color: #0cbaf0;
}