<div class="contenedor">
  <div class="row">
    <div class="container-login">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        method="post"
        class="form-login"
      >
        <h2>Acceso al sistema</h2>
        <p>Ingrese sus datos correctamente</p>
        <div class="container-input">
          <label for="usuario">Correo electrónico:</label>
          <input
            id="usuario"
            formControlName="email"
            type="text"
            placeholder="Ingrese su correo"
            required
          />
          <label for="pass">Contraseña:</label>
          <input
            id="pass"
            formControlName="password1"
            type="password"
            placeholder="Ingrese su contraseña"
            required
          />
          <button type="submit">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>Ingresar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>Loading...</h3>
      <!-- <button (click)="showAlert()">Click me!</button> -->
    </div>
  </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
  //...
</div>
