<div class="text">
    <p class="title">
        Acceso al sistema
    </p>
    <p>Ingrese sus datos correctamente</p>
</div>
<div class="container">

            <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1715954646/images/cmwt32h4uonoqfnecoav.png"  alt="Ilustración" class="illustration-image">
    <form method="post" [formGroup]="loginForm" (ngSubmit)="login()" class="form-login">
        <div class="container-input">
            <!-- Aquí puedes colocar la imagen que desees -->

            <label for="usuario">Ingrese su correo:</label>
            <input id="usuario" formControlName="email" pInputText>

            <label for="pass">Ingrese su contraseña:</label>
            <input id="pass" formControlName="password1" pInputText>

            <button type="submit">Ingresar</button>
        </div>
    </form>
</div>
