 .contenedor {

     height: 70vh;
     margin-top: 50px;
     /* border: #8c7ac7 dashed; */
     /* animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
 }


 .text {
     margin-bottom: 20px;
 }

 .row {
     display: flex;
     align-items: flex-start;
     justify-content: center;
     gap: 20px;
 }

 .illustration-image {
     /* width: 27%; */
     margin-bottom: 20px;
     margin-right: 20px;
     margin-left: 20px;
     z-index: 1;
     filter: drop-shadow(0 2mm 2mm #6e6094);
 }