
<head>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>

<body>
    <div class="form-container">

        <form class="form-flex" [formGroup]="registroForm" (ngSubmit)="registroCliente()">
            <div class="left-column">
                <h2>Ingresa tu Información:</h2>

                <label for="nombre">Nombre:</label>
                <input formControlName="nombre" type="text" id="nombre" name="nombre" required>

                <label for="email">E-mail:</label>
                <input formControlName="email" type="email" id="email" name="email" required>

                <label for="phone">Numero de telefono:</label>
                <input formControlName="telefono" type="tel" id="phone" name="phone">
            </div>
            <div class="right-column">

                <h2>Agrega tu ubicación:</h2>
                <label for="phone">Numero de casa:</label>
                <input formControlName="numCasa" type="tel" id="phone" name="phone">

                <div id="map"></div>

                <input formControlName="longitud" type="hidden"  >

                <input formControlName="latitud" type="hidden"  >

                <input type="submit" value="Register" class="button">
                <button type="button" (click)="volverAtras()" class="button">Atras</button>
            </div>

        </form>
    </div>

</body>

