<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>



<p-dialog *ngIf="dataVehiculo"   [(visible)]="visible"  header="Información del vehiculo" [modal]="true" [style]="{ width: '35rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <!-- <p-dialog *ngIf="listRepartidor" header="Información del Usuario" [modal]="true" [(visible)]="visible" -->
    <form [formGroup]="vehiculoForm" (ngSubmit)="actualizarVehiculo(dataVehiculo._id)">
        <h3>Detalles del vehiculo</h3>
        <div>
            <label for="nombre">Marca:</label>
            <input type="text" id="nombre" formControlName="marca">
        </div>
        <div>
            <label for="email">Modelo:</label>
            <input type="email" id="email" formControlName="modelo">
        </div>
        <div>
            <label for="numCasa">Año del vehiculo:</label>
            <input type="text" id="numCasa" formControlName="anio">
        </div>
        <div>
            <label for="telefono">Placa:</label>
            <input type="text" id="telefono" formControlName="placas">
        </div>
        <!-- <app-mapa-client-ubicacion></app-mapa-client-ubicacion> -->

        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</p-dialog>

<section id="lista">
    <h2>Lista de vehiculos</h2>
    <table>
        <thead>
            <tr>
                <th>marca</th>
                <th>modelo</th>
                <th>anio</th>
                <th>placa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let repartidor of allRepartidores">
                <td>{{repartidor.marca}}</td>
                <td>{{repartidor.modelo}}</td>
                <td>{{repartidor.anio}}</td>
                <td>{{repartidor.placas}}</td>
                <td>
                                            <i (click)="eliminarUsuario(repartidor._id)" class="fas fa-trash-can text-danger m-3"></i>
                                            <i (click)="editar(repartidor._id)" class="fa-solid fa-pen-to-square m-3 "></i>
                </td>
            </tr>
        </tbody>
    </table>
<p-paginator [totalRecords]="totalRecords" [rows]="rows" [first]="first" (onPageChange)="onPageChange($event)">
</p-paginator>

</section>