.loader {
  width: fit-content;
  /* font-weight: bold; */
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #334256;
  font-weight: 999;
  background-color:transparent;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
}

.loader:before {
  content: "Loading...";
}

@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}
