#tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
  color: #308f00;
  margin-left: 10px;

}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 169, 187);
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-top: -10px;
  margin-left: 10px;
  font-family: arial;
  &::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent rgb(42, 129, 149) transparent transparent;

    }
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}
