<body class="body-panel">
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Panel de Reparto</h1>
        </div>
        <header class="heeader">
            <!-- <h1>Panel de Reparto</h1> -->
            <div class="info">
                <p>Repartidor: <span id="repartidor_name"></span></p>
                <p>Fecha: <span id="delivery_date"></span></p>
            </div>
        </header>
        <section class="content">
            <h2>Clientes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Dirección</th>
                        <th>Garrafones</th>
                        <th>Observaciones</th>
                        <th>Acciones</th> <!-- Columna de acciones -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[Nombre del cliente 1]</td>
                        <td>[Dirección del cliente 1]</td>
                        <td>[Cantidad de garrafones]</td>
                        <td>[Observaciones]</td>
                        <td> <!-- Botones de acciones -->
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>[Nombre del cliente 2]</td>
                        <td>[Dirección del cliente 2]</td>
                        <td>[Cantidad de garrafones]</td>
                        <td>[Observaciones]</td>
                        <td> <!-- Botones de acciones -->
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="map">
                <h2>Ruta de Entrega</h2>


                
                <!-- <img src="placeholder.png" alt="Mapa de Ruta"> -->
            </div>
        </section>
    </main>
</body>