
<div class="repartidor-home">
    <div class="welcome-card" *ngIf="!tienesSalidaProgramada">
        <p class="animated-text">No tienes salidas programadas para hoy</p>
    </div>
    <div class="welcome-card" *ngFor="let salida of data">
        <p *ngIf="salida.estado === 'enviado'" class="animated-text">Tienes programada una salida hoy</p>
        <h2>Descripción de la Entrega</h2>
        <div class="info">
            <p>
                <i style="color: rgb(226, 198, 43)" class="fa-solid fa-user icon-left"></i>
                Repartidor: {{salida?.repartidorId?.nombre || 'Nombre no disponible'}}
            </p>
            <div class="left">
                <p>
                    <i style="color: rgb(43, 61, 226)" class="fa-solid fa-calendar icon-left"></i>
                    Hoy: {{salida.fechaSalida}}
                </p>
                <p>
                    <i style="color: rgb(43, 226, 46)" class="fa-solid fa-route"></i>
                    Ruta: {{salida.nombreRuta}}
                </p>
                <p>
                    <i style="color: rgb(198, 226, 43)" class="fa-solid fa-truck icon-left"></i>
                    Vehículo: {{salida.vehiculoId.placas}}
                </p>
                <p>
                    <i style="color: rgb(226, 198, 43)" class="fa-solid fa-user icon-left"></i>
                    Cantidad de Clientes: {{salida.puntosDeEntrega.length}}
                </p>
                <p>
                    <i style="color: rgb(43, 226, 183)" class="fa-solid fa-bottle-water icon-left"></i>
                    Cantidad de Botellas: {{salida.cantidadBotellas}}
                </p>
                <!-- Mostrar cantidad de entregas solo cuando el estado es 'recibido' -->
                <p *ngIf="salida.estado === 'recibido'">
                    <i style="color: rgb(255, 99, 71)" class="fa-solid fa-box"></i>

                    <ng-container *ngIf="!salida.cantidadBotellasEntregadas; else elseTemplate">
                        Cantidad Entregada: ninguna
                    </ng-container>
                    <ng-template #elseTemplate>
                        Cantidad Entregada: {{salida.cantidadBotellasEntregadas}}
                    </ng-template>
                </p>
            </div>
        </div>



        <!-- Mostrar el botón solo cuando la cantidad entregada es mayor a 0 -->
        <button *ngIf="salida.cantidadBotellasEntregadas > 0" type="submit" class="floating-button"
            (click)="terminarEntrega(salida._id)">
            Terminar Entrega
        </button>

        <!-- Mostrar la cantidad de botellas sobrantes -->
        <p *ngIf="salida.cantidadBotellasEntregadas > 0">
            <i style="color: rgb(255, 99, 71)" class="fa-solid fa-box"></i>
            Botellas Sobrantes: {{botellasSobrantes}}
        </p>

        <!-- Mostrar otro contenido cuando el estado es 'recibido' -->
        <div *ngIf="salida.estado === 'recibido' && salida.cantidadBotellasEntregadas">
            <p style="color: rgb(255, 218, 71); text-align: center">
                Entrega recibida
            </p>
            <button type="submit" class="floating-button" (click)="enviarEntreada()"
                [style.background-color]="buttonColor">Desea terminar la entrega?
                <!-- <i class="fas" [ngClass]="editMode ?  'fa-circle-check': 'fa-check'"></i>
                {{ buttonText }} -->
            </button>
        </div>

        <div *ngIf="salida.estado === 'enviado'">
            <button type="submit" class="floating-button" (click)="toggleEditMode(salida._id)"
                [style.background-color]="buttonColor">
                <i class="fas" [ngClass]="editMode ?  'fa-circle-check': 'fa-check'"></i>
                {{ buttonText }}
            </button>
        </div>
    </div>

    <h2 style="text-align: center">Ver más</h2>

    <div class="actions">
        <div class="action-card" *ngIf="!tienesSalidaProgramada">
            <p><i class="fa fa-truck"></i> No tienes Entregas programadas para hoy</p>
        </div>
        <div class="action-card" *ngIf="tienesSalidaProgramada" (click)="redirectToAdminPurificadora('ruta-entrega')">
            <h3><i class="fa fa-route"></i> Ruta </h3>
            <p>Consulta y gestiona tus entregas actuales.</p>
        </div>

        <div class="action-card" *ngIf="!tienesSalidaProgramada">
            <p>
                <i class="fa fa-calendar-alt"></i>No tienes salidas programadas para hoy
            </p>
        </div>

        <div class="action-card" *ngIf="tienesSalidaProgramada" (click)="redirectToAdminPurificadora('entregas')">
            <h3><i class="fa fa-calendar-alt"></i> Ir a mis Entregas Programadas</h3>
            <p>Revisa tus entregas programadas.</p>
        </div>

        <div class="action-card" *ngIf="tienesSalidaProgramada" (click)="redirectToAdminPurificadora('clientes')">
            <h3><i class="fa fa-users"></i> Clientes</h3>
            <p>Accede a la lista de clientes y sus detalles.</p>
        </div>
        <div class="action-card" (click)="redirectToAdminPurificadora('perfil')">
            <h3><i class="fa fa-user"></i> Perfil</h3>
            <p>Revisa y actualiza la información de tu perfil.</p>
        </div>
    </div>

    <button class="toggle-btn" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión
    </button>
</div>