:root {
  /* Primary Colors */
  --primary-color: #057cb3;
  /* Azul principal */
  --primary-dark: #045a8d;
  /* Azul oscuro */
  --primary-light: #5ba4da;
  /* Azul claro */

  /* Secondary Colors */
  --secondary-color: #50c4b7;
  /* Verde agua */
  --secondary-dark: #379b91;
  /* Verde oscuro */
  --secondary-light: #85e1d7;
  /* Verde claro */

  /* Accent Colors */
  --accent-color: #ffd700;
  /* Amarillo dorado */
  --accent-dark: #b29500;
  /* Dorado oscuro */
  --accent-light: #ffe775;
  /* Dorado claro */

  /* Neutral Colors */
  --white: #ffffff;
  --light-gray: #f5f5f5;
  --gray: #cccccc;
  --dark-gray: #666666;
  --black: #000000;

  /* Text Colors */
  --text-color: #334256;
  --text-light: #63738a;
  --text-dark: #000000;

  /* Background Colors */
  --background-color: #f5f5f5;
  /* Fondo principal */
  --card-background: #ffffff;
  /* Fondo de tarjetas */
  --header-background: #057cb3;
  /* Fondo del encabezado */
  --footer-background: #045a8d;
  /* Fondo del pie de página */
}

/* body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
} */
/*
.header {
  background-color: var(--header-background);
  color: var(--white);
}
 */
.repartidor-home {
  background: linear-gradient(180deg, #057cb3 0%, #ffffff 30%, #ffffff 100%);
}

.card {
  background-color: var(--card-background);
  border: 1px solid var(--gray);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-dark);
}

.accent {
  color: var(--accent-color);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--white);
}

.repartidor-home {
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

.welcome-card {
  /* margin-bottom: 20px; */
  padding: 20px;
  margin-top: 0;
  background-color: #fff;
  border-radius: 8px;
    border: 1px solid rgb(210, 215, 217);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  animation: fadeIn 1s ease-in-out;
}

.welcome-card h2 {
  margin-top: 0;
  color: var(--text-color);
}

.info {
  margin-bottom: 10px;
}

.info h3 {
  margin: 0;
}

.details {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.details p {
  margin-right: 20px;
}

.map {
  height: 200px;
  /* Altura de ejemplo para el mapa */
  background-color: #ddd;
  /* Color de fondo para el mapa */
  border-radius: 8px;
}

.description-salida {
  padding: 20px;
  border-radius: 5px;

    border: 1px solid rgb(210, 215, 217);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description-salida h2 {
  margin-top: 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* animation: fadeIn 1s ease-in-out; */
}

.action-card {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  /* border: 1px solid #c2d8ebdc; */
  border-radius: 8px;border: 1px solid rgb(210, 215, 217);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.action-card i {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

.action-card h3 {
  margin: 0;
  font-size: 20px;
  color: #334256;
}

.action-card p {
  color: var(--text-light);
}

.action-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Responsiveness */
@media (max-width: 1200px) {
  .action-card {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .action-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .toggle-btn {
    flex: 1 1 auto;
    width: 100%;
    max-width: none;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #121212;
    background-color: #e6e6e6;
  }

  div {
    .welcome-card {
      padding: 20px;
      /* background-color: #5ba4da; */
      /* color: #fff; */
      border-radius: 8px;
      animation: fadeIn 1s ease-in-out;

      >button[type="submit"] {
        flex: 1 1 auto;
        /* width: 100%; */
        max-width: none;
      }
    }
  }
}

button[type="submit"] {
  background-color: #4cafa2;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
  border: none;

  animation: borderBlink 2s infinite;
}

.action-card {
  font-size: 15px;
  margin-bottom: 10px;

  .fa-route {
    color: #28885a;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes borderBlink {

  0%,
  100% {
    box-shadow: 0 0 0 2px rgb(255, 204, 0), 0 0 0 10px rgb(247, 242, 188);
  }

  50% {
    box-shadow: 0 0 0 1px rgba(248, 231, 28, 0), 0 0 0 5px rgba(248, 231, 28, 0);
  }
}

div div .animated-text {
  display: inline-block;
  animation: slideIn 1s ease-out;
  /* background-color: #ffffff; */
  color: #cf1b1b;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente */
  z-index: 1000;
  /* Asegura que el modal esté sobre otros elementos */
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  /* Limita el ancho máximo */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
