<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<p-dialog *ngIf="listRepartidor" header="Información del Usuario" [modal]="true" [(visible)]="visible"
    [style]="{ width: '29rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <form [formGroup]="usuarioForm" (ngSubmit)="actualizarCliente(listRepartidor._id)" class="form-container">
        <div class="form-group">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="numCasa" class="form-label">Número de casa:</label>
            <input type="text" id="numCasa" formControlName="numCasa" class="form-control">
        </div>
        <div class="form-group">
            <label for="telefono" class="form-label">Teléfono:</label>
            <input type="text" id="telefono" formControlName="telefono" class="form-control">
        </div>
        <app-mapa-client-ubicacion></app-mapa-client-ubicacion>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</p-dialog>

<section id="lista">
    <h2>Lista de repartidores</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Fecha de Contratación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let repartidor of paginatedRepartidores">
                <td>{{repartidor.nombre}}</td>
                <td>{{repartidor.telefono}}</td>
                <td>{{repartidor.email}}</td>
                <td>{{repartidor.fechaDeAgregacion}}</td>
                <td>
                            <i (click)="eliminarUsuario(repartidor._id)" class="fas fa-trash-can text-danger m-3"></i>
                            <i (click)="editar(repartidor._id)" class="fa-solid fa-pen-to-square m-3"></i>
                </td>
            </tr>
        </tbody>
    </table>
        <p-paginator [totalRecords]="totalRecords" [rows]="rows" [first]="first" (onPageChange)="onPageChange($event)">
        </p-paginator>
</section>

<style>
    

button {
    padding: 10px 20px;
    background-color: #abc3dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.p-paginator {
    background: none;
    border: solid #f3f4f6;
    border-width: 0;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

.p-link {
    cursor: default;
    color: #182433;
}
</style>