<p-toast />

<div class="card flex justify-content-center">
  <p-dialog header="Ingresar cantidad" [(visible)]="isModal" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">

    <form [formGroup]="cantidadForm" (ngSubmit)="enviarEntrada()">

      <!-- Mostrar la cantidad asignada con una descripción -->
      <p>Cantidad asignada para entregar: {{ cantidadAsignada }} unidades.</p>

      <!-- Input para ingresar la cantidad -->
      <p-inputNumber mode="decimal" formControlName="cantidadIngresada" [showButtons]="true" inputId="minmax-buttons"
        [min]="0" [max]="cantidadAsignada" [style]="{ width: '100%' }" />

      <!-- Mostrar la cantidad restante después de la entrada -->
<!-- ‌     <p>Cantidad restante después de la entrada: {{ cantidadAsignada - cantidadEntregadaTotal
‌        (cantidadForm.get('cantidadIngresada')?.value) }} unidades.</p> -->
​<p>Cantidad restante después de la entrada: {{ (cantidadAsignada || 0) - (cantidadEntregadaTotal || 0) - (cantidadForm.get('cantidadIngresada')?.value) }} unidades.</p>
      <!-- Mostrar mensaje de error si existe -->
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <div class="contiene-botones">
        <!-- Botón para enviar la entrada -->
        <button type="submit" [style]="{ width: '100%', margin: '20px auto', display: 'block' }">Enviar</button>
        <!-- Botón para cerrar el diálogo -->
        <button type="button" (click)="closeScanner()">Cancelar</button>
      </div>
    </form>
  </p-dialog>
</div>





<!-- Loader para cuando no se encuentran cámaras -->
<div *ngIf="showLoader" class="loader-container">
  <div class="ripple">
  </div>
</div>

<div *ngIf="showLoaderCamera" class="loader-container">
  <div class="gear">
    <img src="https://assets.codepen.io/6093409/gear.svg.png" alt="an illustration of a gear" />
  </div>
</div>
<!-- Modal para escanear QR -->
<p-dialog *ngIf="!showLoaderCamera && showScanner" header="Escanear QR" [(visible)]="showScanner" [modal]="true"
  [closable]="false" [style]="{ width: '400px' }">
  <select #selectList (change)="selectCamera(selectList.value)">
    <option *ngFor="let camera of cameras" value={{camera.label}}>
      {{ camera.label }}
    </option>
  </select>
<!-- <div class="scanner-container" *ngIf="showScanner">
  <zxing-scanner style="width: 100%;" [enable]="scannerEnabled" [device]="myDevice"
    (camerasFound)="camerasFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)">
  </zxing-scanner>
  <div class="scanner-overlay" *ngIf="scannerEnabled">
    <p>Escaneando...</p>
    <div class="loading-spinner"></div>
    <div class="focus-guide"></div> Guía visual para el enfoque
  </div>
</div> -->

<style>
  
  .scanner-container {
  position: relative;
  display: inline-block;
}

.scanner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Para que no interfiera con el escáner */
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.text-loading, .text-escaning {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.loading-spinner {
  border: 16px solid #f3f3f3; /* Fondo de la rueda */
  border-top: 16px solid #3498db; /* Color de la rueda */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.focus-guide {
  position: absolute;
  border: 2px solid #00ff00; /* Color de la guía de enfoque */
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  box-sizing: border-box;
  pointer-events: none;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1); /* Fondo semitransparente dentro de la guía */
  animation: focusPulse 1.5s infinite;
}

@keyframes focusPulse {
  0% { border-color: #00ff00; }
  50% { border-color: #00cc00; }
  100% { border-color: #00ff00; }
}


</style>

  <!-- <div class="scanner-container" *ngIf="showScanner">
    <zxing-scanner style="width: 100%;" [enable]="scannerEnabled" [device]="myDevice"
      (camerasFound)="camerasFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)">
    </zxing-scanner>
    <div class="scanner-overlay" *ngIf="scannerEnabled">
      <p>Escaneando...</p>
      <div class="loading-spinner"></div>
    </div>
  </div> -->

<!-- 
  para escaner de QR -->
  <!-- <zxing-scanner *ngIf="showScanner" style="width: 100%;" [enable]="scannerEnabled" [device]="myDevice"
    (camerasFound)="camerasFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner> -->


<div class="scanner-container" *ngIf="showScanner">
  <zxing-scanner style="width: 100%;" [enable]="scannerEnabled" [device]="myDevice"
    (camerasFound)="camerasFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
  <div class="scanner-overlay" *ngIf="!hasDevices">
    <p class="text-loading">Cargando cámara...</p>
    <!-- <div class="loading-spinner"></div> -->
  </div>
  <div class="scanner-overlay" *ngIf="scannerEnabled && hasDevices">
    <p class="text-escaning">Escaneando...</p>
    <!-- <div *ngIf="scannerEnabled" class="loading-spinner"></div> -->
    <div class="focus-guide"></div> <!-- Guía visual para el enfoque -->
  </div>
</div>


  <p-footer>
    <p-button label="Cerrar" icon="pi pi-times" (click)="closeScanner()" styleClass="p-button-text"></p-button>
  </p-footer>
</p-dialog>
<section *ngIf="!showLoader" id="lista">
  <h2>Listado de Clientes</h2>
  <div class="card-data-container">
    <!-- <pre>{{listClientes|json}}</pre> -->
    <p-card [style]="{ 'margin-top':'20px' }" *ngFor="let cliente of listClientes"
      header="{{ cliente.clienteId.nombre }}">
      <ng-template pTemplate="content">
        <p><strong>id:</strong> {{ cliente.clienteId._id }}</p>
        <p><strong>Teléfono:</strong> {{ cliente.clienteId.telefono }}</p>
        <p><strong>Municipio:</strong> {{ cliente.clienteId.municipio }}</p>
        <p><strong>Colonia:</strong> {{ cliente.clienteId.colonia }}</p>
        <p><strong>Número de casa:</strong> {{ cliente.clienteId.numCasa }}</p>
        <p><strong>presente:</strong> {{ cliente.clientePresente}}</p>
        <p><strong>cantidad entregada:</strong> {{ cliente.cantidadEntregada}}</p>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="ui-g">
          <p-button *ngIf="cliente.cantidadEntregada==0" label="Escanear QR" icon="pi pi-qrcode"
            (click)="escanearQR(cliente.clienteId._id)" styleClass="p-button-sm mr-2"></p-button>
          <p-button label="Ver Ruta" icon="pi pi-map-marker" (click)="verRuta(cliente.clienteId.latitud, cliente.clienteId.longitud)"
            styleClass="p-button-sm"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</section>
