button[type="button"]:hover {

    color: rgb(255, 255, 255);
    background-color: #45a08f;

    .material-symbols-outlined {
        color: rgb(255, 255, 255);
    }
}


/* Estilos para el botón */
button,
input[type="button"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(97, 97, 97);
    border: 1px solid #45a08f;
    border-radius: 4px;
    cursor: pointer;
}



main {


    >div.header {
        text-align: center;

        >h1 {
            font-size: 2em;
            margin: 0;
        }

        >div.btn-toolbar {

            margin-bottom: 20px;

            >div.btn-group {
                >ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;

                    >li {
                        cursor: pointer;
                        margin: 0 10px;
                    }

                    >li:hover {
                        cursor: pointer;
                        margin: 0 10px;
                    }

                    >li:nth-of-type(1) {
                        >a {}
                    }

                    >li:nth-of-type(2) {
                        >a {}
                    }
                }

                >ul {
                    list-style: none;


                }
            }
        }
    }
}