<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Ruta</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <div class="container">
        <h2 class="title">Detalles de la Ruta</h2>
        <div class="table">
            <div class="row">
                <div class="cellLabel">Ruta:</div>
                <div class="cellValue">A</div>
            </div>
            <div class="row">
                <div class="cellLabel">Cantidad de productos:</div>
                <div class="cellValue">20</div>
            </div>
            <div class="row">
            </div>
        </div>
        <button class="btn" (click)="navigateToList()">Siguiente</button>
    </div>
</body>
</html>
