/* body {
    
    font-family: Arial, sans-serif;
    background-color: #F5FCFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.table {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.cellLabel, .cellValue {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.cellLabel {
    font-weight: bold;
    background-color: #f1f1f1;
    color: #333;
}

.cellValue {
    color: #666;
}

.textbox {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
        box-shadow: none;
    }

    .row {
        flex-direction: column;
    }

    .cellLabel, .cellValue {
        text-align: left;
    }

    .cellLabel {
        padding: 5px 10px;
        background-color: #f9f9f9;
    }

    .cellValue {
        padding: 5px 10px;
    }

    .textbox {
        width: 100%;
    }
}
