
        <div class="main-content">
            <div class="header">
                <h2>Perfil del Usuario</h2>
                <button class="change-cover">Cambiar Portada</button>
            </div>
            <div class="profile-form">
                <div class="form-section">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" value="Antonio Sanchez Hernandez">
                </div>
                <div class="form-section">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="antonio01000000gmail.com">
                </div>
                <div class="form-section">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono" value="771109012">
                </div>
                <div class="form-section">
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" name="direccion"
                        value="Calle Falsa 3, Colonia Tlalnepantla, Municipio Ajacuba">
                </div>
                <div class="form-section">
                    <label for="longitud">Longitud</label>
                    <input type="text" id="longitud" name="longitud" value="-98.3987961026434">
                </div>
                <div class="form-section">
                    <label for="latitud">Latitud</label>
                    <input type="text" id="latitud" name="latitud" value="21.139085248236157">
                </div>
                <div class="form-section">
                    <label for="estatus">Estatus</label>
                    <input type="text" id="estatus" name="estatus" value="Activo">
                </div>
                <div class="form-section">
                    <label for="rol">Rol</label>
                    <input type="text" id="rol" name="rol" value="Cliente">
                </div>
                <div class="form-section">
                    <label for="fechaDeRegistro">Fecha de Registro</label>
                    <input type="date" id="fechaDeRegistro" name="fechaDeRegistro" value="2024-06-14">
                </div>
                <button class="update-button">Actualizar</button>
            </div>
            </div>
    