<body>

  <div class="sidebar">
    <h2>Menú</h2>
    <ul class="nav flex-column">
      <li class="nav-item">
    
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('Home')" class="nav-link">
          <span data-feather="file"></span>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('Control-entregas')" class="nav-link">
          <span data-feather="shopping-cart"></span>
          Clientes
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('repartidores')" class="nav-link">
          <span data-feather="users"></span>
          Repartidores
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('vehiculo')" class="nav-link">
          <span data-feather="users"></span>
          Vehículos
        </a>
      </li>
    
    
      <!-- 
                <li class="nav-item">
                  <a tabindex="0" class="nav-link" (click)="redirectToAdminPurificadora('comentarios')">
                    <span data-feather="file-text"></span>
                    Comentarios
                  </a>
                </li> -->
    
    
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('rutas')" class="nav-link">
          <span data-feather="users"></span>
          Rutas
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" class="nav-link" (click)="redirectToAdminPurificadora('pedidos')">
          <span data-feather="layers"></span>
          Pedidos
        </a>
      </li>
    </ul>

  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</body>