<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

  <div class="sidebar">
    <h2>Menú</h2>
    <ul class="nav flex-column">
      <li class="nav-item">
    
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('Home')" class="nav-link">
          <span data-feather="file"></span>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('clientes')" class="nav-link">
          <span data-feather="shopping-cart"></span>
          Clientes
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('repartidores')" class="nav-link">
          <span data-feather="users"></span>
          Repartidores
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('vehiculo')" class="nav-link">
          <span data-feather="users"></span>
          Vehículos
        </a>
      </li>
    
   
    
    
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('rutas')" class="nav-link">
          <span data-feather="users"></span>
          Rutas
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" class="nav-link" (click)="redirectToAdminPurificadora('salida')">
          <span data-feather="layers"></span>
         Salida
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" class="nav-link" (click)="redirectToAdminPurificadora('entrada')">
          <span data-feather="layers"></span>
           Entrada
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" class="nav-link" (click)="redirectToAdminPurificadora('entrada')">
          <span data-feather="layers"></span>
           notificaciones
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" class="nav-link" (click)="redirectToAdminPurificadora('entrada')">
          <span data-feather="layers"></span>
           Mi perfil
        </a>
      </li>
    </ul>

  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</body>