<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<!-- <body> -->
  <div class="sidenav">
    <div class="logo">
      <span class="logo-text">Administrador</span>
    </div>
    <ul class="nav flex-column">
      <li><a tabindex="0" (click)="redirectToAdminPurificadora('Home')" class="nav-link"><i class="fas fa-home"></i>
          <span class="link-text">Inicio</span></a></li>
      <li class="nav-item">
        <a tabindex="0" class="nav-link"[class.open]="openSubmenu === 'clientes-submenu'" (click)="toggleSubmenu('clientes-submenu')">
          <i class="fas fa-user"></i>
          <span class="link-text">Clientes</span>
          <i class="fas fa-chevron-down submenu-toggle" [class.open]="openSubmenu === 'clientes-submenu'"></i>
        </a>
        <ul *ngIf="openSubmenu === 'clientes-submenu'" class="submenu" id="clientes-submenu">
          <li><a tabindex="0" (click)="redirectToCotrolClientes('lista-clientes')" class="nav-link">Listar clientes</a>
          </li>
          <li><a tabindex="0" (click)="redirectToCotrolClientes('agregar-cliente')" class="nav-link">Agregar cliente</a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a tabindex="0" class="nav-link"[class.open]="openSubmenu === 'repartidores-submenu'"  (click)="toggleSubmenu('repartidores-submenu')">
          <i class="fas fa-truck"></i>
          <span class="link-text">Repartidores</span>
          <i class="fas fa-chevron-down submenu-toggle" [class.open]="openSubmenu === 'repartidores-submenu'"></i>
        </a>
        <ul *ngIf="openSubmenu === 'repartidores-submenu'" class="submenu" id="repartidores-submenu">
          <li><a tabindex="0" (click)="redirectToCotrolRepartidores('lista-repartidores')" class="nav-link">Listar
              repartidores</a>
          </li>
          <li><a tabindex="0" (click)="redirectToCotrolRepartidores('agregar-repartidor')" class="nav-link">Agregar
              repartidores </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a tabindex="0" class="nav-link"  [class.open]="openSubmenu === 'vehiculo-submenu'"  (click)="toggleSubmenu('vehiculo-submenu')">
          <i class="fas fa-car"></i>
          <span class="link-text">Vehículos</span>
          <i class="fas fa-chevron-down submenu-toggle" [class.open]="openSubmenu === 'vehiculo-submenu'"></i>
        </a>
        <ul *ngIf="openSubmenu === 'vehiculo-submenu'" class="submenu" id="vehiculo-submenu">
          <li><a tabindex="0" (click)="redirectToCotrolVehiculo('lista-vehiculo')" class="nav-link">Listar Vehículos</a>
          </li>
          <li><a tabindex="0" (click)="redirectToCotrolVehiculo('agregar-vehiculo')" class="nav-link">Agregar
              Vehículo</a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a tabindex="0" class="nav-link" [class.open]="openSubmenu === 'rutas-submenu'"(click)="toggleSubmenu('rutas-submenu')">
          <i class="fas fa-route"></i>
          <span class="link-text">Rutas</span>
          <i class="fas fa-chevron-down submenu-toggle" [class.open]="openSubmenu === 'rutas-submenu'"></i>
        </a>
        <ul *ngIf="openSubmenu === 'rutas-submenu'" class="submenu" id="rutas-submenu">
          <li><a tabindex="0" (click)="redirectToCotrolRutas('lista-rutas')" class="nav-link">Listar ruta</a>
          </li>
          <li><a tabindex="0" (click)="redirectToCotrolRutas('agregar-ruta')" class="nav-link">Agregar ruta</a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('salida')" class="nav-link">
          <i class="fas fa-arrow-right"></i> <span class="link-text">Salida</span>
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('entrada')" class="nav-link">
          <i class="fas fa-arrow-left"></i> <span class="link-text">Entrada</span>
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('notificaciones')" class="nav-link">
          <i class="fas fa-bell"></i> <span class="link-text">Notificaciones</span>
        </a>
      </li>
      <li class="nav-item">
        <a tabindex="0" (click)="redirectToAdminPurificadora('miPerfil')" class="nav-link">
          <i class="fas fa-user-circle"></i> <span class="link-text">Mi perfil</span>
        </a>
      </li>
    </ul>
    <button class="toggle-btn" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar
      sesión</button>
  </div>

  <div class="floating-header">

    <div class="admin-info">
      <span class="date">{{fechaTexto}}</span>
      <div class="calendar-container">
        <button type="date" class="round-button">
          <i class="fa-regular fa-calendar-days"></i>
        </button>
      </div>
    </div>
    <button class="notification-button">
      <i class="fas fa-bell"></i>
    </button>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

<!-- </body> -->
<!-- 
<style>
 
</style> -->