.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .checkbox-item {
    position: relative;
    display: inline-block;
    border: #57bc9c solid 1px;

    // cursor: pointer;
    .tooltiptext-dia {



      border: #e67700 solid 2px;
      background-color: #d4cb3a;
      color: rgb(22, 22, 22);
      // border: #00e69d solid 2px;
      visibility: hidden;
      width: 120px;
      // background-color: #a5e1f4;
      // color: rgb(105, 129, 130);
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      font-size: 14px;
      transition: visibility 0s, opacity 0.3s;
    }
  }

  /* Tooltip arrow */
}

.checkbox-item .tooltiptext-dia::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffbb0e transparent transparent transparent;
}

.checkbox-container:hover {
  .checkbox-item {
    .tooltiptext-dia {
      visibility: visible;
      opacity: 1;
    }
  }
}

.checkbox-item {
  margin-bottom: 0.5rem;
}

:host ::ng-deep .ui-dropdown-panel ul {
  padding-left: 0;
}

// select

.custom-dropdown select:hover,
.custom-dropdown select:focus {
  border-color: #ccc;
}

span {
  font-size: 15px;
  color: #51a47b;
}

span.strike-through {
  cursor: not-allowed;

  color: #d06868;
  text-decoration: line-through;
}


.checkbox-item {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;

  .disponible {
    /* Color de fondo para los días disponibles */
    /* Bordes para distinguir */
    cursor: pointer;
  }
}

.checkbox-item.noDisponible::before {
  // position: relative;
  content: '✘';
  color: red;
  cursor: not-allowed;
  /* Ajusta el tamaño según sea necesario */
}

.checkbox-item.disponibleV {
  background-color: #e9d4ed;
  /* Color de fondo para los días disponibles */
  border: 1px solid #e2c3e6;
  /* Bordes para distinguir */
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.checkbox-item.noDisponible {
  background-color: #e2e2e2;
  /* Color de fondo para los días disponibles */
  border: 1px solid #fbfbfb;
  /* Bordes para distinguir */
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: gray;
  cursor: not-allowed;


}

.strike {
  text-decoration: line-through;
}

.checkbox-item {
  margin-bottom: 5px;
}