.Primer-seccion {
    display: block ruby;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 10px;

    /*  */

    label {
        grid-column: 1;
        margin: 10px;
    }

    input[type="text"] {
        width: 20%;
        grid-column: 2;
    }

    .custom-dropdown select {
        grid-row-gap: 20px;

        width: 100%;
        grid-column: 2;
    }
}

.form-registro-ruta {
    background: #fff5ec;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px #4f4f4fb7;
    border: 1px solid #aeaeae;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-registro-ruta fieldset label {

        color: #595959;

}

.form-column {
    width: calc(100% - 20px);
    margin-right: 20px;
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #565756;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}



.custom-dropdown select,
input {
    width: 30%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #686767;
    font-size: 16px;
    outline: none;
}


.form-registro-ruta button[type="submit"] {
    width: 100%;
}

button[type="submit"] {
    background-color: #4cafa2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #44b07a;
}