<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


</head>
<!-- <div class="overlay" *ngIf="showOverlay"></div> -->

<p-dialog header="Agregar Cliente" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem',height: '30rem' , 'z-index': '999'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <form class="for-direccion" [formGroup]="clienteForm" (ngSubmit)="AgregarClienteRuta()">
        <!-- <form [formGroup]="usuarioForm" (ngSubmit)="actualizarCliente(listRepartidor._id)"> -->
        <!-- <h3>Detalles Personales</h3> -->
        <div>
            <!-- <label for="nombre">Seleccione el municipio:</label> -->
            <!-- <div class="custom-dropdown"> -->
            <!-- lo que hacemos aqui,aqui tomará el valor para asarlo en la funcion onMunicipioSelectionChange($event)" -->
            <!-- <select formControlName="selectedMunicipio" (change)="onMunicipioSelectionChange($event)">
                    <option value="" disabled selected>Selecciona un municipio</option>
                    <option *ngFor="let municipio of allMunicipioXEstado" [value]="municipio">{{ municipio }}</option>
                </select> -->
            <!-- </div> -->
            <label for="nombre">Seleccione el municipio:</label>
            <div class="custom-dropdown">


                <!-- <p-dropdown formControlName="selectedMunicipio" (onChange)="onMunicipioSelectionChange($event)"
                        [options]="allMunicipioXEstado" placeholder="Selecciona un municipio"></p-dropdown> -->


                <div class="card flex justify-content-center">
                    <p-dropdown [style]="{ width: '100%' }" formControlName="selectedMunicipio"
                        [options]="allMunicipioXEstado" [filter]="true" (onChange)="onMunicipioSelectionChange($event)"
                        [showClear]="true" placeholder="Selecciona un municipio">
                    </p-dropdown>
                </div>



                <!-- 

                <p-dropdown [(ngModel)]="selectedMunicipio" [options]="allMunicipioXEstado"
                    placeholder="Selecciona un municipio">
                    <ng-template let-municipio pTemplate="selectedItem">
                        <div>{{ selectedMunicipio }}</div>
                    </ng-template>

                    <ng-template let-municipio pTemplate="item">
                        <div>{{ municipio }}</div>
                    </ng-template>
                </p-dropdown> -->

                <!-- </form> -->


            </div>
        </div>
        <div>
            <label for="nombre">Seleccione la colonia:</label>
            <div class="card flex justify-content-center">
                <p-dropdown [style]="{ width: '100%' }" formControlName="selectedColonia"
                    [options]="allColoniaXMuncipio" [filter]="true" (onChange)="onColoniaSelectionChange($event)"
                    [showClear]="true" placeholder="Selecciona una colonia">
                </p-dropdown>
            </div>
            
            <!-- <div class="custom-dropdown">
                <select [style]="{ width: '100%' }" formControlName="selectedColonia" (change)="onColoniaSelectionChange($event)">
                    <option value="" disabled selected>Selecciona un colonia</option>
                    <option *ngFor="let colonia of allColoniaXMuncipio" [value]="colonia">{{ colonia }}</option>
                </select>
            </div> -->
        </div>

        <div>
            <label for="nombre">Seleccione usarios:</label>
            <p-multiSelect  display="chip" [virtualScroll]="true" [virtualScrollItemSize]="30" [style]="{ width: '100%' }" [options]="allClients" formControlName="selectedCLient" (onChange)="onClientSelectionChange($event)" 
                [filter]="true" optionLabel="nombre" placeholder="Seleccione usarios" />
        </div>

        <div class="btn-group" role="group">
            <button type="submit" class="btn">Agregar</button>
        </div>
    </form>
</p-dialog>



<section id="registro">

    <form class="form-registro-ruta" [formGroup]="registroRuta" (ngSubmit)="registrarRuta()" method="post">

        <div class="form-column">
            <fieldset>
                <legend>Información de la Ruta</legend>
                <label for="descripcion">Nombre de la Ruta:</label>
                <input type="text" id="descripcion" formControlName="nombreRuta">
                <label for="repartidorId">ID del Repartidor:</label>
                <div class="left-column">
                    <div class="custom-dropdown">
                        <select formControlName="selectedRepartidor" (change)="onRepartidorSelectionChange()">
                            <option value="" disabled selected>Selecciona un Repartidor</option>
                            <option *ngFor="let repartidor of allRepartidores" [value]="repartidor._id">{{
                                repartidor.nombre }}</option>
                        </select>
                    </div>
                </div>



                <div class="right-column">
                    <label for="repartidorId">ID del Vehículo:</label>


                    <div class="custom-dropdown">
                        <!-- <p-dropdown formControlName="selectedMunicipio" (onChange)="onVehiculoSelectionChange()"
                            [options]="allVehiculos" placeholder="Selecciona un municipio"></p-dropdown> -->

                        <select formControlName="selectedVehiculo" (change)="onVehiculoSelectionChange()">
                            <option value="" disabled selected>Selecciona un vehículo</option>
                            <option *ngFor="let vehiculo of allVehiculos" [value]="vehiculo._id">{{ vehiculo.placas
                                }}</option>
                        </select>
                    </div>
                </div>

            </fieldset>
            <button type="submit">Registrar Ruta</button>
        </div>
        <div class="form-column">

            <fieldset>
                <legend>Información de la Ruta</legend>
                <label for="fechaInicio">Asigna Días:</label>


                <div class="checkbox-container">
                    <div class="checkbox-item">
                        <span for="lunes">Lunes</span>
                        <input type="checkbox" id="martes" name="Martes" value="Martes">

                        <!-- <input type="checkbox" id="lunes" name="Lunes" value="Lunes"> -->
                        <!-- <p-triStateCheckbox formControlName="lunes" label="Item Label"></p-triStateCheckbox> -->
                    </div>
                    <div class="checkbox-item">
                        <span for="martes">Martes</span>
                        <input type="checkbox" id="martes" name="Martes" value="Martes">
                    </div>
                    <div class="checkbox-item">
                        <span for="miercoles" class="strike-through">Miércoles</span>
                        <input type="checkbox" [disabled]="true" id="miercoles" name="Miércoles" value="Miércoles">
                    </div>
                    <div class="checkbox-item">
                        <span for="jueves">Jueves</span>
                        <input type="checkbox" id="jueves" name="Jueves" value="Jueves">
                    </div>
                    <div class="checkbox-item">
                        <span for="viernes">Viernes</span>
                        <input type="checkbox" id="viernes" name="Viernes" value="Viernes">
                    </div>
                    <div class="checkbox-item">
                        <span for="sabado">Sábado</span>
                        <input type="checkbox" id="sabado" name="Sábado" value="Sábado">
                    </div>
                    <div class="checkbox-item">
                        <span for="domingo">Domingo</span>
                        <input type="checkbox" id="domingo" name="Domingo" value="Domingo">
                    </div>
                </div>




            </fieldset>

            <span (click)="agregarCliente()" class="material-symbols-outlined">
                group_add
            </span>

            <table>
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <legend>Ubicaciones</legend>

            <!-- <app-mapa-client-ubicacion></app-mapa-client-ubicacion> -->

        </div>
    </form>

</section>