<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<p-toast></p-toast>

<div  *ngIf="isLoading && esEdit" class="loader"></div>

<section   *ngIf="!esEdit || esEdit && !isLoading"  id="registro">
  <form class="form-registro" [formGroup]="registroRuta" (ngSubmit)="AgregarClienteRuta()" method="post">

    <h2>{{ titulo | uppercase }}</h2>
    <div class="form-column">
      <fieldset>
        <legend>Primera sección</legend>
        <section class="Primer-seccion">

          <div class="content-text-input">
            <div class="content-data">
              <label for="descripcion">Nombre de la Ruta:</label>
              <input type="text" id="descripcion" placeholder="nombre de la ruta" formControlName="nombreRuta" />
            </div>
            <b class="text-danger"
              *ngIf="registroRuta.get('nombreRuta')?.hasError('required') && registroRuta.get('nombreRuta')?.touched">
              Este campo es obligatorio</b>
          </div>

          <div class="content-text-input">
            <div class="content-data">
              <label for="repartidorId">{{ accion }} Repartidor:</label>
              <div class="custom-dropdown">
                <!-- <div class="custom-dropdown" id="tooltip"> -->

                <p-dropdown *ngIf="!id" formControlName="selectedRepartidor" [options]="allRepartidores"
                  optionLabel="nombre" optionValue="_id" placeholder="Selecciona un repartidor"
                  (onChange)="onRepartidorSelectionChange()">
                </p-dropdown>


                <!-- <span *ngIf="!id" class="tooltiptext">se listarán unicamente los repartidores sin ruta
                </span>
                <span *ngIf="id" class="tooltiptext">se listarán unicamente los repartidores sin ruta y el seleccionado
                </span> -->
                <!-- SE SELECCIONA EL REPARTIDOR CUANDO ESTEMOS ACTUALIZANDO LA RUTA-->
                <p-dropdown *ngIf="id" [options]="allRepartidores" formControlName="selectedRepartidor"
                  (onChange)="onRepartidorSelectionChange()" optionLabel="nombre" [style]="{'width': '100%'}"
                  [placeholder]="'Selecciona un repartidor'">
                </p-dropdown>


              </div>
            </div>

            <b class="text-danger" *ngIf="registroRuta.get('selectedRepartidor')?.value==0">

              seleccione un repartidor</b>
          </div>

          <div class="content-text-input">

            <div class="content-data">

              <label for="repartidorId">{{ accion }} Vehículo:</label>
              <div class="custom-dropdown" id="tooltip">
                <!-- SE ACTIVA CUANDO ESTEMOS AGREGANDO UNA RUTA  -->
                <p-dropdown *ngIf="!id" formControlName="selectedVehiculo" [options]="allVehiculos" optionLabel="placas"
                  optionValue="_id" placeholder="Selecciona un vehículo" (onChange)="onVehiculoSelectionChange()">
                </p-dropdown>

                <!--  NOTE:SE SELECCIONA EL VEHICULO CUANDO ESTEMOS ACTUALIZANDO LA RUTA -->
                <p-dropdown *ngIf="id" [options]="allVehiculos" formControlName="selectedVehiculo"
                  (onChange)="onVehiculoSelectionChange()" optionLabel="placas" [style]="{'width': '100%'}"
                  [placeholder]="'Selecciona un vehículo'">
                </p-dropdown>

              </div>
            </div>
            <b class="text-danger" *ngIf="registroRuta.get('selectedVehiculo')?.value==0">
              seleccione un vehiculo</b>
          </div>
        </section>
      </fieldset>
    </div>

    <div class="form-column">
      <fieldset>
        <legend>Segunda sección - Asignación de días</legend>
        <!-- ESTO SE ACTIVA CUANDO VAS AGREGAR UNA RUTA-->
        <div *ngIf="!id" class="checkbox-container">
          <div class="checkbox-item" *ngFor="let dia of diasSemana " [ngClass]="{
              disponible: diasDisponiblesR[dia] &&  diasDisponiblesV[dia],
              noDisponible: isDiaNoDisponible(dia)
            }">

            <input type="checkbox" [id]="dia" [value]="dia" [checked]="diasAsignados[dia] || false"
              [ngClass]="{noDisponible: isDiaNoDisponible(dia) ,disponible: diasDisponiblesR[dia] &&  diasDisponiblesV[dia],}"
              [disabled]="!diasDisponiblesR[dia] && !diasDisponiblesV[dia] || !diasDisponiblesR[dia] && diasDisponiblesV[dia] || diasDisponiblesR[dia] && !diasDisponiblesV[dia] "
              (change)="onDiaSeleccionado($event, dia)" />
            <span [class.strike]="!diasDisponiblesR[dia] && !diasDisponiblesV[dia]">{{ dia | titlecase }}</span>
          </div>
        </div>
        <!-- solucionar esto digamos que si no se ha seleccionada nada que muestre seeleccione  -->
        <!-- mostrar el mensage de que si hay una seleccion  -->

        <!--  ESTO SE ACTIVA EN  EDITAR UNA RUTA-->
  <!-- YA QUE *ngIf="id" id ES TRUE LO QUE SIGNIFICA QUE SI HAY UN VALOR PARA EDITAR -->
<div *ngIf="id" class="checkbox-container">
  <div class="checkbox-item" *ngFor="let dia of diasSemana" [ngClass]="{
         disponible: !isDiaNoDisponibleUpdate(dia)|| false ||  diasDisponiblesR[dia] && diasDisponiblesV[dia] &&  diasAsignados[dia] ,
         noDisponible: isDiaNoDisponibleUpdate(dia),
         seleccionado: diasAsignados[dia] && !isDiaNoDisponibleUpdate(dia)
       }">
    <!-- <span class="tooltiptext-dia">{{ getAvailabilityMessage(dia) }}</span> -->
    <input type="checkbox" [id]="dia" [value]="dia" [checked]="diasAsignados[dia] && !(!diasDisponiblesR[dia] && diasDisponiblesV[dia] ||diasDisponiblesR[dia] && !diasDisponiblesV[dia] || diasDisponiblesR[dia] && !diasDisponiblesV[dia])|| false" [disabled]="!diasAsignados[dia] && !(!diasDisponiblesR[dia] && diasDisponiblesV[dia] ||diasDisponiblesR[dia] && !diasDisponiblesV[dia] || diasDisponiblesR[dia] && !diasDisponiblesV[dia]) && !diasDisponiblesR[dia] && !diasDisponiblesV[dia] &&  !diasAsignados[dia] ||  !diasDisponiblesR[dia] && diasDisponiblesV[dia] && !diasAsignados[dia] || diasDisponiblesR[dia] && !diasDisponiblesV[dia] && !diasAsignados[dia] " (change)="onDiaSeleccionadoUpdate($event)" />
    <span>{{ dia | titlecase }}</span>
  </div>
</div>


      </fieldset>
      <fieldset>
        <legend>Tercera Sección - Agrega Direcciones:</legend>
        <table>
          <thead>
            <tr>
              <!-- <th>Municipio</th> -->
              <th>Colonia</th>
              <th>Clientes</th>
              <th>Quitar</th>
            </tr>
          </thead>
          <tbody *ngIf="!id" formArrayName="filas">
            <tr *ngFor="let fila of filas.controls; let i = index" [formGroupName]="i">
              <td>
                <p-dropdown [style]="{ width: '100%' }" formControlName="addSelectedColonia"
                  [options]="allColoniaXMuncipio" [filter]="true" (onChange)="onColoniaSelectionChange($event, i)"
                  [showClear]="true" placeholder="Selecciona una colonia">
                </p-dropdown>
              </td>
              <td>
                <p-multiSelect *ngIf="clientesPorFila[i]" display="chip" [virtualScroll]="true"
                  [virtualScrollItemSize]="30" [style]="{ width: '100%' }" [options]="clientesPorFila[i]"
                  formControlName="addSelectedClient" (onChange)="onClientSelectionChange($event, i)" [filter]="true"
                  optionLabel="nombre" optionValue="_id" placeholder="{{placeholders[i]}}">
                </p-multiSelect>
              </td>
              <td>
                <button type="button" (click)="eliminarFila(i)" class="remove">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>


          <tbody *ngIf="id" formArrayName="filas">
            <tr *ngFor="let fila of filas.controls; let i = index" [formGroupName]="i">
              <td>
                <p-dropdown [style]="{ width: '80%' }" formControlName="editSelectedColonia" [options]="allColoniaXMuncipio"
                  [filter]="true" (onChange)="onColoniaSelectionChange($event, i)" [showClear]="true"
                  placeholder="Selecciona una colonia">
                </p-dropdown>
              </td>
              <td>
                <p-multiSelect *ngIf="clientesPorFila[i]" display="chip" [virtualScroll]="true" [virtualScrollItemSize]="30"
                  [style]="{ width: '80%' }" [options]="clientesPorFila[i]" formControlName="editSelectedClient" [filter]="true"
                  optionLabel="nombre" optionValue="_id" placeholder="Seleccione clientes"
                  (onChange)="onClientSelectionChange($event, i)">
                </p-multiSelect>
              </td>
              <td>
                <button type="button" (click)="eliminarFila(i)" class="remove">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>


        </table>



        <button type="button" (click)="agregarFila()" class="btn btn-success mb-3" id="addRowBtn">
          <i class="fas fa-plus"></i> Agregar Fila
        </button>

        <!-- <button *ngIf="id" type="button" (click)="agregarCliente()" class="btn btn-success mb-3" id="addRowBtn">
          <i class="fas fa-plus"></i>
          Agregar cliente
        </button> -->

      </fieldset>
    </div>

    <div class="btns">

      <button type="button" (click)="volverAtras()">

        <i class="fa-solid fa-arrow-left-long"></i> volver atras
      </button>
      <button (click)="restaurarInformacion()" *ngIf="id" type="button">
        <i class="fa-solid fa-rotate-left"></i> Restaurar datos originales
      </button>
      <button type="submit">
        <i class="fas fa-check"></i> {{ btnTitle }} Ruta
      </button>
    </div>
  </form>
</section>
