<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<section id="registro">
    <form class="form-registro-ruta" [formGroup]="registroRuta" (ngSubmit)="AgregarClienteRuta()" method="post">
        <h2>Registro de detalle entrega</h2>
        <div class="form-column">
            <fieldset>
                <legend>Primera sección</legend>
                <section class="Primer-seccion">
                    <label for="descripcion">Nombre de la Ruta:</label>
                    <!-- allNombreRuta -->
                    <div class="custom-dropdown">
                        <div class="custom-dropdown">
                            <select formControlName="nombreRuta" (change)="onRutaNombreSelectionChange()">
                                <option value="" disabled selected>Selecciona una Ruta</option>
                                <option *ngFor="let rutaData of allNombreRuta" [value]="rutaData._id">{{
                                    rutaData.nombreRuta }}</option>
                            </select>
                        </div>
                    </div>
                    
                    <!-- <input type="text" id="descripcion" formControlName="nombreRuta"> -->
                    <label for="repartidorId">ID del Repartidor:</label>
                    <div class="custom-dropdown">
                        <select formControlName="selectedRepartidor" (change)="onRepartidorSelectionChange()">
                            <option value="" disabled selected>Selecciona un Repartidor</option>
                            <option *ngFor="let repartidor of allRepartidores" [value]="repartidor._id">{{
                                repartidor.nombre }}</option>
                        </select>
                    </div>

                    <label for="repartidorId">ID del Vehículo:</label>
                    <div class="custom-dropdown">
                        <select formControlName="selectedVehiculo" (change)="onVehiculoSelectionChange()">
                            <option value="" disabled selected>Selecciona un vehículo</option>
                            <option *ngFor="let vehiculo of allVehiculos" [value]="vehiculo._id">{{ vehiculo.placas
                                }}</option>
                        </select>
                    </div>
                </section>
            </fieldset>
        </div>
        <div class="form-column">
            <fieldset>
                <legend>Segunda sección - Asignación de días </legend>
                <div class="checkbox-container">
                    <div class="checkbox-item">
                        <span for="lunes">Lunes</span>
                        <input type="checkbox" id="lunes" formcontr="Lunes" value="lunes"
                            (change)="onDiaSeleccionado($event)">
                    </div>
                    <div class="checkbox-item">
                        <span for="martes">Martes</span>
                        <input type="checkbox" id="martes" name="Martes" value="martes"
                            (change)="onDiaSeleccionado($event)">
                    </div>
                    <div class="checkbox-item">
                        <span for="miercoles" class="strike-through">Miércoles</span>
                        <input type="checkbox" [disabled]="true" id="miercoles" name="Miércoles" value="miercoles"
                            (change)="onDiaSeleccionado($event)">
                    </div>
                    <div class="checkbox-item">
                        <span for="jueves">Jueves</span>
                        <input type="checkbox" id="jueves" name="Jueves" value="jueves"
                            (change)="onDiaSeleccionado($event)">
                    </div>
                    <div class="checkbox-item">
                        <span for="viernes">Viernes</span>
                        <input type="checkbox" id="viernes" name="Viernes" value="viernes"
                            (change)="onDiaSeleccionado($event)">
                    </div>
                    <div class="checkbox-item">
                        <span for="sabado">Sábado</span>
                        <input type="checkbox" id="sabado" name="Sábado" value="sabado"
                            (change)="onDiaSeleccionado($event)">
                    </div>
                    <div class="checkbox-item">
                        <span for="domingo">Domingo</span>
                        <input type="checkbox" id="domingo" name="Domingo" value="domingo"
                            (change)="onDiaSeleccionado($event)">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Tercera Sección - Agrega Direcciones:</legend>
                <table>
                    <thead>
                        <tr>
                            <th>Municipio</th>
                            <th>Colonia</th>
                            <th>Clientes</th>
                            <th>Quitar</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="filas">
                        <tr *ngFor="let fila of filas.controls; let i = index" [formGroupName]="i">
                            <td>
                                <div class="custom-dropdown">
                                    <div class="card flex justify-content-center">
                                        <p-dropdown [style]="{ width: '100%' }" formControlName="selectedMunicipio"
                                            [options]="allMunicipioXEstado" [filter]="true"
                                            (onChange)="onMunicipioSelectionChange($event,i)" [showClear]="true"
                                            placeholder="Selecciona un municipio">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="custom-dropdown">
                                    <div class="card flex justify-content-center">
                                        <p-dropdown [style]="{ width: '100%' }" formControlName="selectedColonia"
                                            [options]="allColoniaXMuncipio" [filter]="true"
                                            (onChange)="onColoniaSelectionChange($event,i)" [showClear]="true"
                                            placeholder="Selecciona una colonia">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p-multiSelect display="chip" [virtualScroll]="true" [virtualScrollItemSize]="30"
                                    [style]="{ width: '100%' }" [options]="allClients" formControlName="selectedClient"
                                    (onChange)="onClientSelectionChange($event)" [filter]="true" optionLabel="nombre"
                                    optionValue="_id" placeholder="Seleccione clientes" />
                            </td>
                            <td>
                                <button type="input" (click)="eliminarFila(i)" class="remove">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" (click)="agregarFila()" class="btn btn-success mb-3" id="addRowBtn"><i class="fas fa-plus"></i> Agregar
                    Fila</button>

                <!-- <input (click)="agregarFila()" type="button" value="Agregar Fila"> -->
            </fieldset>


        </div>
        <button type="submit"><i class="fas fa-check"></i> Registrar datos</button>

    </form>

</section>