/* Estilos para el formulario */
.Primer-seccion {
  display: block ruby;
  grid-template-columns: max-content 1fr;
  /* Columna de etiquetas y columna de inputs/selects */
  grid-row-gap: 10px;
  /* Espacio entre filas */

  /*  */
  

  label {
    
    grid-column: 1;
    margin: 10px;
    /* Las etiquetas en la primera columna */
  }
  
  input[type="text"] {
    width: 15%;
    
    margin: 10px;
    /* Los inputs y selects ocupan todo el ancho de su contenedor */
    grid-column: 2;
    /* Los inputs y selects en la segunda columna */
  }

  .custom-dropdown {
    select {
      grid-row-gap: 20px;

      width: 100%;
      /* Los inputs y selects ocupan todo el ancho de su contenedor */
      grid-column: 2;
      /* Los inputs y selects en la segunda columna */
      /* Alinear los dropdowns a la derecha */
    }
  }

  #tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* //  tooltip */
  /* Tooltip text */
  #tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    border: #ffebb0 solid 1px;
    background-color: #ffbb0e;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Tooltip arrow */
  #tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffbb0e transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  #tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.form-registro {
  background: #ffffff;
  padding: 20px;
  /* border-radius: 2px; */
  box-shadow: 0 0 15px #cecece8d;
  border: 1px solid #d9d9d9;
  width: 100%;
  /* Ajusta el ancho del .form-registroulario según tus necesidades */
  /* margin: 20px auto;.] */
  /* Centra el .form-registroulario en la página */
  display: flex;
  flex-wrap: wrap;
  /* Permite que los fieldsets se envuelvan cuando no haya suficiente espacio */
}

.form-registro fieldset label {
  color: #595959;
}

.form-column {
  width: calc(100% - 20px);
  /* Calcula el ancho de las columnas (50% del formulario menos el espacio entre columnas) */
  margin-right: 20px;
  /* Espacio entre las columnas */
}

fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

legend {
  font-weight: bold;
  color: #565756;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
label::before{
content: '*';
color: red;
}

.custom-dropdown select,
input {
  width: 30%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #686767;
  font-size: 16px;
  outline: none;
}

.form-registro button[type="submit"] {
  width: 100%;
}

button[type="submit"] {
  background-color: #4cafa2;
  /* color: #000000; */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #44b07a;
}
