/* Estilos para el formulario */
.form-registro-ruta {
    background: #fff5ec;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px #4f4f4fb7;
    border: 1px solid #aeaeae;
    width: 100%;
    /* Ajusta el ancho del .form-registro-rutaulario según tus necesidades */
    /* margin: 20px auto;.] */
    /* Centra el .form-registro-rutaulario en la página */
    display: flex;
    flex-wrap: wrap;
    /* Permite que los fieldsets se envuelvan cuando no haya suficiente espacio */
}

.form-registro-ruta fieldset label {
    color: #7a7a7a;
}

.form-column {
    width: calc(50% - 20px);
    /* Calcula el ancho de las columnas (50% del formulario menos el espacio entre columnas) */
    margin-right: 20px;
    /* Espacio entre las columnas */
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #565756;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-registro-ruta input {
    width: calc(52% - 10px);
    /* Ajusta el ancho del input para evitar que se desborde por el borde */
    padding: 8px;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
    border: 1px solid #ccc;
}

/* @layer primeng {
    .for-direccion .p-multiselect .p-component .p-inputwrapper {
      
        width: 100%;
    }
} */

.for-direccion .custom-dropdown[_ngcontent-ng-c2506789401] select[_ngcontent-ng-c2506789401] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #686767;
    font-size: 16px;
    outline: none;

    /* .p-multiselect {
        width: 100%;
    } */
}


.for-direccion button[type="submit"] {
    width: 100%;
}

button[type="submit"] {
    background-color: #4cafa2;
    /* color: #000000; */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #44b07a;
}