table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table thead th {
    background-color: #343a40;
    color: #ffffff;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}





table tbody tr:hover {
    background-color: #f1f1f1;
}

tbody {
    background-color: #f9f9f9;

    button {
        margin: 0;
    }






    .remove {

        color: rgb(192, 2, 2);
        background-color: #ffffff;
        border: 1px solid #d60000;

        
    }

    .remove:hover {

        color: rgb(255, 255, 255);
        background-color: #d60000;
        border: 1px solid #ffffff;

    }




}

button[type="button"]:hover {

    color: rgb(255, 255, 255);
    background-color: #45a08f;

    .material-symbols-outlined {
        color: rgb(255, 255, 255);
    }
}

button,
input[type="button"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(97, 97, 97);
    border: 1px solid #45a08f;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover {

    color: rgb(255, 255, 255);
    background-color: #45a08f;

    .material-symbols-outlined {
        color: rgb(255, 255, 255);

    }
}




.material-symbols-outlined {
    cursor: pointer;
    font-size: 20px;
}