<!-- <head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

body> 
  <div class="sidenav">
    <div class="logo">
      <span class="logo-text">Administrador pagina</span>
    </div>
    <ul class="nav flex-column">
      <li><a tabindex="0"  (click)="redirectToAdmin('inicio');setActiveLink($event)" class="nav-link"><i class="fas fa-home"></i>
          <span class="link-text">Inicio</span></a></li>
      <li><a tabindex="0"  (click)="redirectToAdmin('Control-purificadoras');setActiveLink($event)" class="nav-link"><i class="fa-solid fa-user-group"></i>
          <span class="link-text">Clientes</span></a></li>
     
    
    </div> 

  <div class="floating-header">

    <div class="admin-info">
      <span class="date">{{fechaTexto}}</span>
      <div class="calendar-container">
        <button type="date" class="round-button">
          <i class="fa-regular fa-calendar-days"></i>
        </button>
      </div>
    </div>
    <button class="notification-button">
      <i class="fas fa-bell"></i>
    </button>
    <button class="toggle-btn" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar
      sesión</button>
        </ul>
  </div> -->

  <header class="main-header">
    <h1>Panel de Administración</h1>
  </header>
  <header class="menu-header">
    <nav class="menu">
      <ul>
        <li>
          <a href="#">Gestión de Usuarios</a>
          <ul>
            <li><a href="#">Ver Usuarios</a></li>
            <li><a href="#">Agregar Usuario</a></li>
            <li><a href="#">Editar Usuario</a></li>
            <li><a href="#">Eliminar Usuario</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Configuración del Sitio</a>
          <ul>
            <li><a href="#">Ajustes Generales</a></li>
            <li><a href="#">Temas</a></li>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Políticas</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Gestión de Contenido</a>
          <ul>
            <li><a href="#">Artículos</a></li>
            <li><a href="#">Páginas</a></li>
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Etiquetas</a></li>
            <li><a href="#">Medios</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div class="content-all">
    <router-outlet></router-outlet>
  </div>
