

  <header class="main-header">
    <h1>Panel de Administración</h1>
  </header>
  <header class="menu-header">
    <nav class="menu">
      <ul>
        <li>
          <a href="#">Gestión de Usuarios</a>
          <ul class="submenu">
            <li><a routerLink="Control-purificadoras">Ver Usuarios</a></li>
            <li><a href="#">Agregar Usuario</a></li>
            <li><a href="#">Editar Usuario</a></li>
            <li><a href="#">Eliminar Usuario</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Configuración del Sitio</a>
          <ul>
            <li><a href="#">Ajustes Generales</a></li>
            <li><a href="#">Temas</a></li>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Políticas</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Gestión de Contenido</a>
          <ul>
            <li><a href="#">Artículos</a></li>
            <li><a href="#">Páginas</a></li>
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Etiquetas</a></li>
            <li><a href="#">Medios</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div class="content-all">
    <router-outlet></router-outlet>
  </div>
