
<main>
    <div class="header">
        <h1>Gestión de clientes</h1>
        <div class="btn-toolbar">
            <div class="btn-group">
            <ul>
                <li><a tabindex="0" (click)="redirectToCotrolClientes('agregar-cliente')">Registrar cliente</a></li>
                <li><a tabindex="0" (click)="redirectToCotrolClientes('lista-clientes')">Listado
                        de clientes</a></li>
            </ul>
            </div>
        </div>
    </div>

    <main>
        <router-outlet></router-outlet>
    </main>

</main>