main {


    >div.header {
        text-align: center;

        >h1 {
            font-size: 2em;
            margin: 0;

        }

        >div.btn-toolbar {

            margin-bottom: 20px;

            >div.btn-group {
                >ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;

                    >li {
                        cursor: pointer;
                        margin: 0 10px;
                    }

                    >li:nth-of-type(1) {
                        >a {}
                    }

                    >li:nth-of-type(2) {
                        >a {}
                    }
                }
            }
        }
    }


}