

<footer class="pie">
    <div class="contenedor-pie">
        <div>
            <p>&copy; 2024 Sitio</p>
            <ul>
                <li><a href="#">Aviso de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
            </ul>
        </div>
        <div class="informacion-contacto">
            <p>Información de Contacto</p>
            <p><i class="fas fa-map-marker-alt"></i> Mexico,Hidalgo
            </p>
            <p><i class="fas fa-phone"></i> 01 81 8287 8690</p>
            <p><i class="fas fa-envelope"></i> info&#64;sicamovil.mx</p>
        </div>
        <div class="redes-sociales">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>