.cards-rutas {
    padding: 20px;
}

.tarjeta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: espace; */
}

.tarjeta {
    width: calc(50% - 20px);
    /* Ancho de la tarjeta (50% del contenedor) con espacio entre tarjetas */
    margin-bottom: 20px;
    /* Espacio entre las filas */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Para posicionar los botones dentro de la tarjeta */
}

.tarjeta img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tarjeta ul {
    list-style-type: none;
    /* Quita los puntos de la lista */
    padding: 0;
    /* Elimina el relleno predeterminado */
    margin: 0;
    /* Elimina el margen predeterminado */
}

.tarjeta ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    /* Línea divisoria entre descripciones */
}

.tarjeta ul li:last-child {
    border-bottom: none;
    /* Elimina la línea divisoria del último elemento */
}

.botones {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.boton-editar,
.boton-eliminar {
    background-color: #4CAF50;
    /* Color de fondo */
    border: none;
    color: white;
    /* Color del texto */
    padding: 10px 20px;
    /* Espaciado interno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    /* Transición para el efecto 3D */
}

.boton-editar:hover,
.boton-eliminar:hover {
    background-color: #45a049;
    /* Cambia el color de fondo al pasar el mouse */
    transform: translateY(-2px);
    /* Efecto de elevación */
}