.cards-rutas {
    padding: 20px;
}

.tarjeta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarjeta {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.tarjeta img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tarjeta ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tarjeta ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.tarjeta ul li:last-child {
    border-bottom: none;
}

.botones {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.boton-editar,
.boton-eliminar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.boton-editar:hover,
.boton-eliminar:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}