

#map {
    width: 800px;
    height: 400px;
    margin-left: 20px;
    border: 4px dashed #ffffff;
    box-shadow: 0 5px 10px #cbcbcb;
}



.wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
}