<head>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css">
</head>

<body class="body-panel">

    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Rutas</h1>
        <div class="ml-auto">
            <button class="btn btn-primary">Agregar Ruta</button>
        </div>
    </div>

        <section class="cards-rutas">
            <div class="tarjeta-container">
                <div class="tarjeta">
                    <img src="https://via.placeholder.com/80x80?text=Ruta A" alt="Ruta A">
                    <ul>
                        <li>Repartidor: Juan Pérez</li>
                        <li>Vehículo: Camión 1</li>
                        <li>Cantidad de Clientes: 10</li>
                        <li>Direcciones de entrega:
                            <ul>
                                <li>Calle A, Número 123</li>
                                <li>Calle B, Número 456</li>
                                <li>Calle C, Número 789</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="botones">
                        <button class="mt-lg-5 boton-editar">Detalles</button>
                        <button  type="hidden" class="boton-editar">Editar</button>
                        <button   type="hidden" class="boton-eliminar">Eliminar</button>
                    </div>
                </div>

                <div class="tarjeta">
                    <img src="https://via.placeholder.com/80x80?text=Ruta B" alt="Ruta B">
                    <ul>
                        <li>Repartidor: María García</li>
                        <li>Vehículo: Moto 2</li>
                        <li>Cantidad de Clientes: 8</li>
                        <li>Direcciones de entrega:
                            <ul>
                                <li>Calle A, Número 123</li>
                                <li>Calle B, Número 456</li>
                                <li>Calle C, Número 789</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="botones">
                        <button class="mt-lg-5 boton-editar">Detalles</button>
                        <button class="mt-lg-5 boton-editar">Editar</button>
                        <button class="mt-lg-5 boton-eliminar">Eliminar</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="wrapper">
            <div class="box-form">
                <div id="geocoder" #asGeocoder class="geocoder"></div>
            </div>
        </div>
        <div class="wrapper">
            <div id="map" #asMap class="map-container">
            </div>
        </div>
    </main>
</body>
