.card {
  height: 550px;
  width: 1300px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.chart-container,
.calendar-container {
  flex: 1;
  margin: 10px;
}

.chart-container {
  background: rgb(255, 255, 255);
  /* Ajusta el tamaño del contenedor del gráfico según tus necesidades */
  min-width: 750px;
}

// .calendar-container {
//   /* Ajusta el tamaño del contenedor del calendario según tus necesidades */
//   min-width: 200px;
// }
