<body>


  <div class="wave-container"></div>


  <div class="overlay-container">
    <div class="content">
      <h2 class="nombre">Nombre de la purificadora</h2>
      <p>Eslogan de la purificadora</p>
    </div>
  </div>


<div class="contiene-contenido">

  <div class="container primero">
    <div class="text-container">
        <p class="text-title">Purificadora</p>
        <p class="text">Registro de tu purificadora. Haz click en el enlace para registrar tu purificadora.</p>
        <a (click)="redirectTo('Registrar-purificadora')" class="register-link">Registra tu purificadora aqui</a>
    </div>
    <div class="image-container">
      <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1715467313/images/mzclm82hxxu5uypl1aaz.png"
        alt="Imagen">
    </div>
  </div>

  <div class="container">
    <div class="image-container">
      <img style="width:55%; margin-left: 70px;" src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1715560105/images/rx67gnmvt5xd1i43vogd.jpg"
        alt="Imagen">
    </div>
    <div class="text-container">
      <p class="text-title">Titulo</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum ipsa quod aut blanditiis tempora error
        laboriosam atque reiciendis excepturi nemo minus, voluptates mollitia quisquam dolore soluta facere, voluptatem
        pariatur.</p>
    </div>
  </div>
  <div class="container">
    <div class="text-container">
      <p class="text-title">Titulo</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum ipsa quod aut blanditiis tempora error
        laboriosam atque reiciendis excepturi nemo minus, voluptates mollitia quisquam dolore soluta facere, voluptatem
        pariatur.</p>
    </div>
    <div class="image-container">
      <img style="width:55%;" src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1715467313/images/yi9pnxoxs8vh1razck6s.jpg"
        alt="Imagen">
    </div>
  </div>

</div>
</body>
