<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</head>

<body>


  <div class="wave-container"></div>


  <div class="overlay-container">
    <div class="content">
      <h2 class="nombre">Nombre de la purificadora</h2>
      <p>Eslogan de la purificadora</p>
    </div>
  </div>


  <div class="contiene-contenido">
    <div class="container primero">
      <div class="text-container">
        <p class="text-title">Purificadora</p>
        <p class="text">Registro de tu purificadora. Haz click en el enlace para registrar tu purificadora.</p>
        <a (click)="redirectTo('Registrar-purificadora')" class="register-link">Emprende tu purificadora</a>
      </div>
      <div class="image-container">
        <img src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1715467313/images/mzclm82hxxu5uypl1aaz.png"
          alt="Imagen">
      </div>
    </div>

    <div class="container">
      <div class="image-container">
        <img style="width:55%; margin-left: 70px;"
          src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1715560105/images/rx67gnmvt5xd1i43vogd.jpg"
          alt="Imagen">
      </div>
      <div class="text-container">
        <p class="text-title">Titulo</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum ipsa quod aut blanditiis tempora error
          laboriosam atque reiciendis excepturi nemo minus, voluptates mollitia quisquam dolore soluta facere,
          voluptatem
          pariatur.</p>
      </div>
    </div>
    <div class="container">
      <div class="text-container">
        <p class="text-title">Titulo</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum ipsa quod aut blanditiis tempora error
          laboriosam atque reiciendis excepturi nemo minus, voluptates mollitia quisquam dolore soluta facere,
          voluptatem
          pariatur.</p>
      </div>
      <div class="image-container">
        <img style="width:55%;"
          src="https://res.cloudinary.com/dvvhnrvav/image/upload/v1715467313/images/yi9pnxoxs8vh1razck6s.jpg"
          alt="Imagen">
      </div>
    </div>



  <section class="clients-section">
    <div class="container-client">
      <h2 class="section-title">Who's using Float UI?</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim nibh nisi, vel egestas magna rhoncus
        at. Nunc elementum efficitur tortor in laoreet.
      </p>
      <div class="clients-logos">
        <div class="client-logo"><img src="https://via.placeholder.com/80x80?text=Dropbox" alt="Dropbox"></div>
        <div class="client-logo"><img src="https://via.placeholder.com/80x80?text=Notion" alt="Notion"></div>
        <div class="client-logo"><img src="https://via.placeholder.com/80x80?text=GitHub" alt="GitHub"></div>
        <div class="client-logo"><img src="https://via.placeholder.com/80x80?text=Microsoft" alt="Microsoft"></div>
        <div class="client-logo"><img src="https://via.placeholder.com/80x80?text=Linear" alt="Linear"></div>
        <div class="client-logo"><img src="https://via.placeholder.com/80x80?text=Canva" alt="Canva"></div>
        <div class="client-logo"><img src="https://via.placeholder.com/80x80?text=Zoom" alt="Zoom"></div>
        <div class="client-logo"><img src="https://via.placeholder.com/80x80?text=Slack" alt="Slack"></div>
      </div>
    </div>
  </section>



  </div>
</body>