<main>
    <div class="header">
        <h1>Gestión de Repartidores</h1>
        <!-- <div class="btn-toolbar">
            <div class="btn-group">
                <ul>
                    <li><a tabindex="0" (click)="redirectToAdminPurificadora('agregar-repartidor')">Registrar
                            repartidor</a>
                    </li>
                    <li><a tabindex="0" (click)="redirectToAdminPurificadora('lista-repartidores')">Lista de
                            repartidores</a></li>
                </ul>
            </div>
        </div> -->
    </div>

    <main>
        <router-outlet></router-outlet>
    </main>

</main>