




/* .map {
    width: 100%;

} */

/* Estilos para los botones */
.buttons {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
}


/*  */
.button-container {
    position: fixed;
    top: 50%;
    right: 20px;
    /* Ajusta el valor según sea necesario */
    transform: translateY(-50%);
}

.centered-modal .ant-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-modal .ant-modal-body {
    width: auto;
}

/* styles table */




.info {
    text-align: right;
}


/* .map {
    width: 100%;

} */

/* Estilos para los botones */
.buttons {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
}


/*  */
.button-container {
    position: fixed;
    top: 50%;
    right: 20px;
    /* Ajusta el valor según sea necesario */
    transform: translateY(-50%);
}

.centered-modal .ant-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-modal .ant-modal-body {
    width: auto;
}

section#lista {
    >h2 {
        color: rgb(185, 158, 123);
    }

    >table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        >thead {
            >tr {
                >th {
                    padding: 12px 15px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                    background-color: #343a40;
                    color: #ffffff;
                    color: rgb(255, 255, 255);
                }
            }
        }

        >tbody {
            >tr {
                >td {
                    padding: 12px 15px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                    color: rgb(76, 76, 76);
                }
            }
        }
    }
}

table {

    >tbody {
        >tr {

            >td {
                span.material-symbols-outlined {
                    cursor: pointer;
                }
            }
        }

        >tr:hover {
            background-color: #f5f5f5;
        }
    }
}

.styled-table td .fa-trash-can {
    color: #e74c3c;
}

.styled-table td .fa-pen-to-square {
    color: #3498db;
}