<body class="body-panel">
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Panel de purificadoras</h1>
        </div>
        <header class="heeader">
            <div class="info">
                <p>Filtrar por: <span id="repartidor_name"></span></p>
            </div>
            <div class="button-container">
                <button class="btn btn-success" (click)="redirectToAdmin('agregar-cliente')"><span> Agregar Cliente</span></button>
            </div>
        </header>
        <section class="content">
            <h2>Clientes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Pedido</th>
                        <th>Observaciones</th>
                        <th>Acciones</th> <!-- Columna de acciones -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[Nombre del cliente 1]</td>
                        <td>[Dirección del cliente 1]</td>
                        <td>[Cantidad de garrafones]</td>
                        <td>[Observaciones]</td>
                        <td> <!-- Botones de acciones -->
                            <button class="btn btn-danger">Eliminar</button>
                            <button class="btn btn-info ">Editar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>[Nombre del cliente 2]</td>
                        <td>[Dirección del cliente 2]</td>
                        <td>[Cantidad de garrafones]</td>
                        <td>[Observaciones]</td>
                        <td> <!-- Botones de acciones -->
                            <button class="btn btn-danger">Eliminar</button>
                            <button class="btn btn-info ">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="map">
                <h2>Ruta de Entrega</h2>

<app-mapa></app-mapa>


                <!-- <img src="placeholder.png" alt="Mapa de Ruta"> -->
            </div>
        </section>
    </main>
</body>