<body class="body-panel">
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Mapa</h1>
        </div>
        <div class="wrapper">

            <div id="map" #asMap class="map-container">

            </div>


        </div>


    </main>
</body>

<style>
    #map {
        width: 500px;
        height: 400px;
        /* Ajusta la altura según tus necesidades */
        margin-left: 20px;
        /* Agrega márgenes de 20px */
        border: 2px dashed #083088;
        /* Agrega un borde punteado de color #083088 */
    }
</style>