
<main>
    <div class="header">
                <h1>Gestion de vehiculos</h1>

        <div class="btn-toolbar">
            <div class="btn-group">
                <ul>
                    <li><a tabindex="0" (click)="redirectToVehiculos('agregar-vehiculo')">Registrar
                            vehiculo</a></li>
                    <li><a tabindex="0" (click)="redirectToVehiculos('lista-vehiculo')">Lista de
                            vehiculos</a></li>
                </ul>
            </div>
        </div>
    </div>

    <main>
        <router-outlet></router-outlet>
    </main>

</main>