.formulario {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    /* Ajusta el ancho máximo del formulario según tu preferencia */
}

.formulario div {
    margin-bottom: 10px;
    /* Espacio entre los campos */
}

label {
    margin-bottom: 5px;
    /* Espacio entre el label y el input */
}

input {
    width: 100%;
    /* Los inputs ocuparán todo el ancho disponible */
    padding: 8px;
    /* Espaciado interno */
    border: 1px solid #ccc;
    /* Borde del input */
    border-radius: 5px;
    /* Bordes redondeados */
}

.btn-group {
    margin-top: 20px;
    /* Espacio entre el formulario y el botón */
}

