<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


</head>
<!-- <p-dialog  header="Información del Usuario" [modal]="true"
    [style]="{ width: '35rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <form>
        <h3>Detalles Personales</h3>

        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre">
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>

        <div>
            <label for="numCasa">Número de casa:</label>
            <input type="text" id="numCasa" formControlName="numCasa">
        </div>

        <div>
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" formControlName="telefono">
        </div>
        <app-mapa-client-ubicacion></app-mapa-client-ubicacion>

        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</p-dialog> -->

<section id="lista">
    <h1>Lista de rutas</h1>
    <table>
        <thead>
            <tr>
                <th>Ruta</th>
                <th>Repartidor</th>
                <th>Vehiculo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ruta of allRutas">

                <td>{{ruta.nombreRuta}}</td>
                <td>{{ruta.repartidorId?.nombre}}</td>
                <td>{{ruta.vehiculoId?.marca}}</td>
                <td>{{ruta.estado}}</td>
                <td>
                    <button class="custom-btn custom-btn-danger" (click)="eliminarRuta(ruta._id)">
                        <i class="fas fa-trash-can"></i> Eliminar
                    </button>
                    <button class="custom-btn custom-btn-detail" (click)="detalleById(ruta._id)">
                        <i class="fa-solid fa-pen-to-square"></i> Detalle
                    </button>
                    <button class="custom-btn custom-btn-primary" (click)="editar(ruta._id)">
                        <i class="fa-solid fa-pen-to-square"></i> Editar
                    </button>

                </td>
            </tr>
        </tbody>
    </table>
</section>