/* Estilos para el formulario */
.Primer-seccion {
    display: block ruby;
    grid-template-columns: max-content 1fr;
    /* Columna de etiquetas y columna de inputs/selects */
    grid-row-gap: 10px;
    /* Espacio entre filas */

    /*  */

    label {
        grid-column: 1;
        margin: 10px;
        /* Las etiquetas en la primera columna */
    }

    input[type="text"] {
        width: 20%;
        /* Los inputs y selects ocupan todo el ancho de su contenedor */
        grid-column: 2;
        /* Los inputs y selects en la segunda columna */
    }

    .custom-dropdown select {
        grid-row-gap: 20px;

        width: 100%;
        /* Los inputs y selects ocupan todo el ancho de su contenedor */
        grid-column: 2;
        /* Los inputs y selects en la segunda columna */
        /* Alinear los dropdowns a la derecha */
    }
}

.form-registro {
    background: #ffffff;
    padding: 20px;
    /* border-radius: 2px; */
    box-shadow: 0 0 15px #cecece8d;
    border: 1px solid #d9d9d9;
    width: 100%;
    /* Ajusta el ancho del .form-registroulario según tus necesidades */
    /* margin: 20px auto;.] */
    /* Centra el .form-registroulario en la página */
    display: flex;
    flex-wrap: wrap;
    /* Permite que los fieldsets se envuelvan cuando no haya suficiente espacio */
}

.form-registro fieldset label {

    color: #595959;

}

.form-column {
    width: calc(100% - 20px);
    /* Calcula el ancho de las columnas (50% del formulario menos el espacio entre columnas) */
    margin-right: 20px;
    /* Espacio entre las columnas */
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #565756;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}



.custom-dropdown select,
input {
    width: 30%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #686767;
    font-size: 16px;
    outline: none;
}


.form-registro button[type="submit"] {
    width: 100%;
}

button[type="submit"] {
    background-color: #4cafa2;
    /* color: #000000; */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #44b07a;
}