<p-toast />
<div class="container-detalle">
    <div>
        <h2>Ubicaciones de entrega</h2>
        <div class="map">
            <app-mapa></app-mapa>
        </div>
    </div>

    <section class="section">
        <h4>Nombre de la Ruta:{{detalleRuta?.nombreRuta}}</h4>
        <div class="card">
            <h2>Repartidor</h2>
            <div class="card-content">
                <p><strong>{{detalleRuta?.repartidorId?.nombre}}</strong></p>
                <p>Repartidor</p>
                <p><i class="fa fa-phone"></i> {{detalleRuta?.repartidorId?.telefono}}</p>
                <p><i class="fa fa-envelope"></i> {{detalleRuta?.repartidorId?.email}}</p>
            </div>
        </div>
        <div class="card">
            <h2>Vehículo</h2>
            <div class="card-content">
                <p><strong>{{detalleRuta?.vehiculoId?.marca}}</strong></p>
                <p>{{detalleRuta?.vehiculoId?.placas}}</p>
                <p><i class="fa fa-tachometer"></i> 25,000 km</p>
            </div>
        </div> 
    </section>
</div>

<section id="lista">
    <h2>Listado de Clientes</h2>
    <table>
        <thead>
            <tr>
                <th>Municipio</th>
                <th>Colonia</th>
                <th>Nombre completo del cliente</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let punto of detalleRuta?.puntosDeEntrega">
                <td>{{ punto.clienteId?.municipio }}</td>
                <td>{{ punto.clienteId?.colonia }}</td>
                <td>{{ punto.clienteId?.nombre }}</td>
                <!-- <td>
                    <button type="input" (click)="eliminarPuntoUbicacion(punto._id)" class="remove">
                        <i class="fas fa-trash"></i>
                    </button>
                </td> -->
            </tr>
        </tbody>
    </table>


    <p-dialog header="Información del Usuario" [modal]="true" [(visible)]="visible"
        [style]="{ width: '25rem' , height: '30rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

        <form [formGroup]="clienteFormAdd" (ngSubmit)="agregarClienteEnRuta()">
            <div class="custom-dropdown">
                <p-dropdown [style]="{ width: '100%' }" formControlName="selectedMunicipio"
                    [options]="allMunicipioXEstado" placeholder="Selecciona un municipio">
                </p-dropdown>
            </div>
            <div class="custom-dropdown">
                <p-dropdown [style]="{ width: '100%'  }" formControlName="selectedColonia"
                    [options]="allColoniaXMuncipio" [filter]="true" (onChange)="onColoniaSelectionChange($event)"
                    [showClear]="true" placeholder="Selecciona una colonia">
                </p-dropdown>
            </div>
            <div class="custom-dropdown">
                <p-dropdown [style]="{ width: '100%'  }" formControlName="selectedClient" opctionValue="_id"
                    [options]="allClients" optionLabel="nombre" [filter]="true"
                    (onChange)="onClientSelectionChange($event)" [showClear]="true" placeholder="Selecciona un cliente">
                </p-dropdown>
            </div>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </p-dialog>
    <!-- <button type="button" (click)="agregarCliente()" class="btn btn-success mb-3" id="addRowBtn"><i
            class="fas fa-plus"></i>
        Agregar
        cliente</button> -->

</section>

<style>
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');



    .container-detalle {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .section {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        border: 1px solid #8aebff;
        transform: translateY(-10px);
        box-shadow: 0 4px 8px rgba(98, 157, 206, 0.82);
    }

    .card h2 {
        margin-top: 0;
    }

    .card-content {
        margin-top: 10px;
    }

    .card-content p {
        margin: 5px 0;
    }

    .map-placeholder {
        width: 350%;
        height: 350px;
        background-color: #a2a2a2;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .content {
        margin: 0;
        padding: 20px;
        /* border: dashed; */
    }
</style>