<div class="container">
    <h2>Ubicaciones de entrega</h2>



    <div class="map-placeholder">
        <!-- <div class="map">
            <h2>Ubicación de clientes:
            </h2>
            <app-mapa></app-mapa>
        </div> -->
        <!-- <p>Mapa de Ubicaciones (Placeholder)</p> -->
    </div>

    <h2>Detalles de la Ruta</h2>

    <section *ngIf="detalleRuta" class="info-ruta">

        <div class="route-details">
            <h2>Nombre de la Ruta:{{detalleRuta.nombreRuta}}</h2>
        </div>

        <div class="">
            <p-stepper orientation="vertical">
                <p-stepperPanel header="Detalles del Repartidor">
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <div *ngIf="detalleRepartidor" class="flex flex-column h-12rem">

                            <div class="accordion-content">
                                <p>Nombre: {{detalleRepartidor.nombre}}</p>
                                <p>Teléfono:{{detalleRepartidor.telefono}}</p>
                            </div>
                            <!-- <div
                                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                Content I
                            </div> -->
                        </div>
                        <div class="flex py-4">
                            <p-button label="Next" (onClick)="nextCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Detalles del Vehículo">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                        let-index="index">
                        <div class="flex flex-column h-12rem">
                            <div *ngIf="detalleVehiculo" class="accordion-content">
                                <p>Marca: {{detalleVehiculo.marca}}</p>
                                <p>Modelo: {{detalleVehiculo.modelo}}</p>
                                <p>Placa: {{detalleVehiculo.placas}}</p>
                            </div>
                        </div>
                        <div class="flex py-4 gap-2">
                            <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                            <p-button label="Next" (onClick)="nextCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Detalles de los Domicilios">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                        <div class="flex flex-column h-12rem">
                            <div *ngFor="let punto of detalleRuta.puntosDeEntrega" class="accordion-content">
                                <p>{{detalleRuta.puntosDeEntrega}}</p>
                                <!-- *ngFor="let punto of detalleRuta.puntosDeEntrega" -->
                                <h3>Municipio </h3>
                                <ul>
                                    <li>Colonia 1
                                        <ul>
                                            <li>Cliente 1: Dirección 1</li>
                                            <li>Cliente 2: Dirección 2</li>
                                        </ul>
                                    </li>
                                </ul>

                                <!-- <h3>Municipio: {{ punto.municipio }}</h3>
                                <ul>
                                    <li>Colonia: {{ punto.colonia }}
                                        <ul *ngFor="let cliente of detalleClientes">
                                            <li>Cliente : {{ cliente.nombre }}</li>
                                        </ul>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="flex py-4">
                            <p-button label="Back" (onClick)="prevCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </div>
    </section>
</div>