<section id="lista">

    <h1>Resultados de entregas</h1>
    <div class="top-bar">
        <!-- <button class="add-entry-btn">Añadir Entrada</button> -->
        <input type="text" id="searchBar" placeholder="Buscar...">
    </div>
    <div class="filter-container">
        <div class="filter-group">
            <label for="date">Días Programada la Salida:</label>
            <select id="date" name="date">
                <option value="">Seleccione...</option>
                <!-- Opciones de fechas -->
            </select>
        </div>
        <div class="filter-group">
            <label for="vehicle">Vehículo:</label>
            <select id="vehicle" name="vehicle">
                <option value="">Seleccione...</option>
                <!-- Opciones de vehículos -->
            </select>
        </div>
        <div class="filter-group">
            <label for="repartidor">Repartidor:</label>
            <select id="repartidor" name="repartidor">
                <option value="">Seleccione...</option>
                <!-- Opciones de repartidores -->
            </select>
        </div>
        <div class="filter-group">
            <label for="route">data:</label>
            <select id="route" name="route">
                <option value="">Seleccione...</option>
                <!-- Opciones de rutas -->
            </select>
        </div>
        <div class="filter-group">
            <label for="estatus">Estatus:</label>
            <select id="estatus" name="estatus">
                <option value="">Seleccione...</option>
                <!-- Opciones de municipios -->
            </select>
        </div>

    </div>
    <table class="entry-table">
        <thead>
            <tr>
                <th>Ruta</th>
                <th>Fecha Programada</th>
                <th>Repartidor</th>
                <th>Destinario</th>
                <th>Cant asignada</th>
                <th>Cant entregado</th>
                <th>Cant pendiente</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of paginatedRutasDetalles">
                <td>{{ data.rutaId?.nombreRuta }}</td>
                <td>{{ data?.fechaInicio }}</td>

                <td>{{ data.repartidorId?.nombre }}</td>
                <td>{{ data?.clienteId?.nombre }}</td>
                <td>{{ data?.cantidadBotellas }}</td>
                <td>{{ data?.cantidadBotellasEntregados }}</td>
                <td>{{ data?.cantidadBotellasPendientes }}</td>
                <td>
                    <p [ngClass]="{
                                        'ninguno': data.estado === 'ninguno',
                                        'pendiente': data.estado === 'pendiente',
                                        'parcialmente-entregado': data.estado === 'parcialmente_entregado',
                                        'en_curso': data.estado === 'en_curso',
                                        'finalizada': data.estado === 'finalizada'
                                    }">{{ data.estado }}
                    </p>
                </td>
                <td>
                    <button type="button" class="add-entry-btn">Ver detalles</button>
                </td>
            </tr>
        </tbody>
    </table>


</section>