<head>
    <script src=" https://cdn.jsdelivr.net/npm/angular2-qrscanner@1.0.7/bundles/angular2-qrscanner.umd.min.js "></script>
</head>
<qr-scanner [debug]="false" [canvasWidth]="1080" <!-- canvas width (default: 640) -->
    [canvasHeight]="720" <!-- canvas height                                (default: 480) -->
    [stopAfterScan]="true" <!-- should the scanner stop after first success? (default: true) -->
    [updateTime]="500"> <!-- miliseconds between new capture              (default: 500) -->
</qr-scanner>