

.menu {    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 10px #e7e7e7;
    color: #3d3d3d;
    padding: 20px;
    text-align: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    color: #3b3b3b;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.menu a:hover {
    color: #007bff;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

p {
    text-align: center;
    font-size: 1.2em;
}