<section id="lista">

    <h1>Gestión de salida</h1>
    <div class="top-bar">
        <input type="text" id="searchBar" placeholder="Buscar...">
    </div>
    <div class="filter-container">
        <div class="filter-group">
            <label for="date">Días Programada la Salida:</label>
            <select id="date" name="date">
                <option value="">Seleccione...</option>
            </select>
        </div>

        <div class="filter-group">
            <label for="repartidor">Repartidor:</label>
            <select id="repartidor" name="repartidor">
                <option value="">Seleccione...</option>
            </select>
        </div>

        <div class="filter-group">
            <label for="route">Ruta:</label>
            <select id="route" name="route">
                <option value="">Seleccione...</option>
            </select>
        </div>

        <div class="filter-group">
            <label for="municipality">Estado:</label>
            <select id="municipality" name="municipality">
                <option value="">Seleccione...</option>
            </select>
        </div>
        <div class="filter-group">
            <label for="colony">Catidad:</label>
            <select id="colony" name="colony">
                <option value="">Seleccione...</option>
            </select>
        </div>
    </div>
    <table class="entry-table">
        <thead>
            <tr>
                <th>Ruta</th>
                <th>Repartidor</th>
                <th>Cliente</th>
                <th>Dia disponble</th>
                <th>Fecha Programada</th>
                <th>Estado</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ruta of paginatedRutasDetalles">
                <td>{{ ruta.rutaId?.nombreRuta }}</td>

                <td>{{ ruta.repartidorId?.nombre }}</td>
                <td>{{ ruta?.clienteId?.nombre }}</td>
                <td>
                    {{ ruta.diasAsignados }}
                </td>
                <td *ngIf="ruta.fechaInicio==null">
                    <p [ngClass]="{'asignar': ruta.fechaInicio == null}">
                        por asignar
                    </p>
                </td>
                <td *ngIf="ruta.fechaInicio!=null">

                    {{ ruta?.fechaInicio }}

                </td>
                <td>
                <p [ngClass]="{
                    'ninguno': ruta.estado === 'ninguno',
                    'pendiente': ruta.estado === 'pendiente',
                    'parcialmente-entregado': ruta.estado === 'parcialmente_entregado',
                    'en_curso': ruta.estado === 'en_curso',
                    'finalizada': ruta.estado === 'finalizada'
                }">
                    {{ ruta.estado }}
                </p>

                </td>
                <td>{{ ruta.cantidadBotellas }}</td>
                <td>
                    <button type="input" (click)="eliminarRuta(ruta._id)" class="remove enable-button">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button type="buttom" class="edit" (click)="editar(ruta._id)">
                        <i class="fas fa-pen    "></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <p-paginator [totalRecords]="totalRecords" [rows]="rows" [first]="first" (onPageChange)="onPageChange($event)">
    </p-paginator>
</section>